{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="txt_container">
    <h1>Visualization</h1>

    <div class="center_container">
        <!-- message indicting the mesh being used -->
        <h4> {{ message|safe }} </h4>

        <!-- allow user to upload a different mesh -->
        <p>To visualize a different output mesh, please <a href=mesh_upload>click here to upload the mesh file.</a></p>
        </br>

        <h2>3D Visualization</h2>
        <a class="btn btn-info" href="{{visURL}}" target="_blank" style="margin-left: 15px;">Open 3D Interactive Visualizer</a>
    </div>
</div>
<div class="graph_container">
    <h2>Cumulative Dose-Volume Histogram</h2>
    <p>The threshold fluence specified for each material is as follows:</p>
    {% for material, thresholdFluence in materialToThreshold.items %}
        <p style="padding: 0; margin: 0;">{{ material|safe }}: {{thresholdFluence|safe }} {{ fluenceEnergyUnit }}<sup>2</sup></p>
    {% endfor %}
    <p> {{ dvhFig|safe }} </p>
</div>
<div class="txt_container">
    <p>Click <img src="{% static 'images/home.png' %}" alt="" /> to reset the plot.</p>
    <p>Check <img src="{% static 'images/move.png' %}" alt="" /> to move the plot (mouse drag) or zoom in/out (mouse scroll).</p>
    <p>Check <img src="{% static 'images/zoom.png' %}" alt="" /> to box-zoom.</p>
    <p>Check <img src="{% static 'images/brush.png' %}" alt="" /> to toggle markers on/off.</p>
    <p>Click on the legend items to toggle each region's data on/off.</p>
</div>

{% endblock %}
